In [4]:
import pandas as pd

orders_data = pd.read_csv('../data_files/retail_orders.csv', delimiter=";")

orders_data.head()
# orders_data.tail()

,OrderID,OrderDatetime,ShipDate,Status,PaymentMethod,ProductSKU,Quantity,UnitPrice,Discount,TotalEUR,Returned,City,Country,Note,CustomerSegment,OrderChannel,MarketingTag,InternalFlag
46,ORD000046,2024-09-16 13:04:00,2024-09-16,placed,card,SKU-0121,5,204.08,0.00,1020.40,True,Vantaa,FI,NaN,VIP,mobile,clearance,True
47,ORD000047,2023-04-18 03:59:00,2023-04-22,delivered,mobile,SKU-0103,4,41.69,0.00,166.76,False,Turku,FI,gift,VIP,mobile,clearance,False
48,ORD000048,2024-11-16 04:33:00,2024-11-23,paid,mobile,SKU-0107,2,211.77,0.10,381.19,True,Tampere,FI,check address,C,store,promo2023,True
49,ORD000049,2023-07-08 12:25:00,NaN,shipped,bank,SKU-0115,5,39.76,0.05,188.86,False,Lahti,FI,NaN,B,mobile,clearance,True
50,ORD000050,2023-09-18 23:55:00,2023-09-22,placed,card,SKU-0149,4,261.02,0.10,939.67,False,Espoo,FI,check address,B,web,NaN,False

In [5]:
orders_data[10: 15]

,OrderID,OrderDatetime,ShipDate,Status,PaymentMethod,ProductSKU,Quantity,UnitPrice,Discount,TotalEUR,Returned,City,Country,Note,CustomerSegment,OrderChannel,MarketingTag,InternalFlag
10,ORD000010,2024-03-14 22:36:00,2024-03-20,delivered,invoice,SKU-0156,3,48.41,0.05,137.97,False,Espoo,FI,NaN,B,web,NaN,True
11,ORD000011,2024-04-14 01:25:00,2024-04-22,placed,invoice,SKU-0141,4,156.45,0.00,625.80,True,Jyväskylä,FI,gift,C,phone,promo2024,True
12,ORD000012,2023-11-12 14:10:00,2023-11-12,placed,card,SKU-0127,4,176.35,0.00,705.40,True,Pori,FI,check address,C,phone,NaN,True
13,ORD000013,2023-02-12 14:24:00,2023-02-12,paid,invoice,SKU-0116,2,159.16,0.00,318.32,False,Helsinki,FI,gift,C,web,promo2024,True
14,ORD000014,2024-10-27 16:46:00,2024-10-30,delivered,card,SKU-0108,4,54.64,0.05,207.63,False,Kuopio,FI,check address,C,web,promo2023,True

In [6]:
orders_data.drop(
    ["ShipDate", "Status", "Country", "Note", "CustomerSegment", "MarketingTag", "InternalFlag"],
    axis=1, 
    inplace=True
)

In [7]:
orders_data

,OrderID,OrderDatetime,PaymentMethod,ProductSKU,Quantity,UnitPrice,Discount,TotalEUR,Returned,City,OrderChannel
0,STRING,DATETIME,CAT,STRING,INT,DOUBLE,DOUBLE,DOUBLE,BOOL,CAT,CAT
1,ORD000001,2023-06-25 20:20:00,invoice,SKU-0126,2,95.86,0.00,191.72,True,Lahti,phone
2,ORD000002,2023-06-17 18:12:00,mobile,SKU-0156,1,90.00,0.10,81.00,False,Lahti,mobile
3,ORD000003,2023-07-03 15:49:00,bank,SKU-0108,1,238.28,0.10,214.45,False,Vantaa,phone
4,ORD000004,2023-09-15 06:40:00,card,SKU-0121,1,136.72,0.20,109.38,True,Oulu,store
5,ORD000005,2024-04-26 09:39:00,mobile,SKU-0117,2,217.20,0.00,434.40,False,Tampere,phone
6,ORD000006,2023-03-25 06:42:00,bank,SKU-0146,2,201.84,0.00,403.68,False,Oulu,store
7,ORD000007,2023-11-06 13:47:00,bank,SKU-0103,5,47.37,0.00,236.85,True,Lahti,store
8,ORD000008,2024-07-20 11:18:00,mobile,SKU-0129,1,100.71,0.00,100.71,False,Helsinki,web
9,ORD000009,2025-02-03 03:10:00,mobile,SKU-0105,4,266.75,0.05,1013.65,False,Espoo,phone
10,ORD000010,2024-03-14 22:36:00,invoice,SKU-0156,3,48.41,0.05,137.97,False,Espoo,web
11,ORD000011,2024-04-14 01:25:00,invoice,SKU-0141,4,156.45,0.00,625.80,True,Jyväskylä,phone
12,ORD000012,2023-11-12 14:10:00,card,SKU-0127,4,176.35,0.00,705.40,True,Pori,phone
13,ORD000013,2023-02-12 14:24:00,invoice,SKU-0116,2,159.16,0.00,318.32,False,Helsinki,web
14,ORD000014,2024-10-27 16:46:00,card,SKU-0108,4,54.64,0.05,207.63,False,Kuopio,web
15,ORD000015,2024-04-26 10:12:00,card,SKU-0100,4,193.35,0.10,696.06,False,Pori,phone
16,ORD000016,2024-03-16 16:34:00,bank,SKU-0129,2,282.50,0.20,452.00,False,Espoo,mobile
17,ORD000017,2024-01-02 08:10:00,bank,SKU-0141,3,262.43,0.00,787.29,False,Lahti,store
18,ORD000018,2023-03-09 17:37:00,bank,SKU-0112,2,58.51,0.00,117.02,True,Helsinki,web
19,ORD000019,2024-01-05 23:54:00,card,SKU-0144,1,276.02,0.10,248.42,False,Kuopio,store
20,ORD000020,2023-10-04 13:31:00,invoice,SKU-0131,5,117.84,0.05,559.74,False,Helsinki,mobile
21,ORD000021,2023-09-04 15:42:00,card,SKU-0146,2,263.04,0.00,526.08,True,Turku,mobile
22,ORD000022,2023-04-15 10:05:00,bank,SKU-0115,10,246.53,0.05,2342.03,False,Oulu,mobile
23,ORD000023,2024-11-03 20:22:00,mobile,SKU-0107,2,136.22,0.00,272.44,True,Turku,web
24,ORD000024,2025-02-14 06:45:00,invoice,SKU-0118,4,176.31,0.00,705.24,False,Espoo,mobile
25,ORD000025,2023-04-14 09:44:00,invoice,SKU-0148,1,85.06,0.10,76.55,True,Pori,web
26,ORD000026,2024-12-24 20:02:00,mobile,SKU-0102,2,268.77,0.00,537.54,False,Jyväskylä,mobile
27,ORD000027,2024-12-08 15:37:00,invoice,SKU-0105,5,101.55,0.10,456.98,True,Vantaa,store
28,ORD000028,2023-06-15 23:14:00,invoice,SKU-0153,1,64.77,0.10,58.29,True,Tampere,store
29,ORD000029,2024-08-15 15:59:00,invoice,SKU-0108,2,32.31,0.00,64.62,False,Oulu,phone
30,ORD000030,2024-05-27 10:25:00,invoice,SKU-0100,10,289.26,0.00,2892.60,True,Tampere,store
31,ORD000031,2023-03-26 18:23:00,mobile,SKU-0124,2,268.06,0.10,482.51,False,Jyväskylä,phone
32,ORD000032,2023-03-29 04:03:00,card,SKU-0138,2,105.22,0.00,210.44,False,Espoo,store
33,ORD000033,2023-05-25 18:00:00,mobile,SKU-0159,5,98.23,0.10,442.04,True,Helsinki,web
34,ORD000034,2023-01-29 17:11:00,invoice,SKU-0143,4,145.83,0.00,583.32,False,Lahti,store
35,ORD000035,2023-06-15 23:26:00,card,SKU-0116,1,166.14,0.00,166.14,False,Oulu,phone
36,ORD000036,2024-05-27 01:22:00,bank,SKU-0118,10,129.54,0.00,1295.40,True,Oulu,phone
37,ORD000037,2024-06-19 22:52:00,mobile,SKU-0120,2,290.76,0.00,581.52,False,Lahti,mobile
38,ORD000038,2023-12-10 11:26:00,invoice,SKU-0112,5,57.81,0.05,274.60,True,Pori,web
39,ORD000039,2025-01-31 04:08:00,mobile,SKU-0129,10,189.63,0.00,1896.30,False,Turku,store
40,ORD000040,2025-02-05 03:43:00,card,SKU-0144,2,11.72,0.00,23.44,True,Helsinki,mobile
41,ORD000041,2023-04-27 09:27:00,bank,SKU-0130,2,15.16,0.00,30.32,False,Oulu,store
42,ORD000042,2023-08-08 10:16:00,card,SKU-0110,2,198.73,0.00,397.46,False,Espoo,store
43,ORD000043,2023-12-20 17:41:00,bank,SKU-0105,1,275.23,0.00,275.23,True,Jyväskylä,mobile
44,ORD000044,2024-07-06 13:39:00,invoice,SKU-0147,4,74.31,0.00,297.24,False,Turku,mobile
45,ORD000045,2025-03-01 05:29:00,bank,SKU-0147,1,77.07,0.00,77.07,True,Vantaa,mobile
46,ORD000046,2024-09-16 13:04:00,card,SKU-0121,5,204.08,0.00,1020.40,True,Vantaa,mobile
47,ORD000047,2023-04-18 03:59:00,mobile,SKU-0103,4,41.69,0.00,166.76,False,Turku,mobile
48,ORD000048,2024-11-16 04:33:00,mobile,SKU-0107,2,211.77,0.10,381.19,True,Tampere,store
49,ORD000049,2023-07-08 12:25:00,bank,SKU-0115,5,39.76,0.05,188.86,False,Lahti,mobile
50,ORD000050,2023-09-18 23:55:00,card,SKU-0149,4,261.02,0.10,939.67,False,Espoo,web

In [8]:
orders_data.drop(0, inplace=True)
orders_data.head()

,OrderID,OrderDatetime,PaymentMethod,ProductSKU,Quantity,UnitPrice,Discount,TotalEUR,Returned,City,OrderChannel
1,ORD000001,2023-06-25 20:20:00,invoice,SKU-0126,2,95.86,0.00,191.72,True,Lahti,phone
2,ORD000002,2023-06-17 18:12:00,mobile,SKU-0156,1,90.00,0.10,81.00,False,Lahti,mobile
3,ORD000003,2023-07-03 15:49:00,bank,SKU-0108,1,238.28,0.10,214.45,False,Vantaa,phone
4,ORD000004,2023-09-15 06:40:00,card,SKU-0121,1,136.72,0.20,109.38,True,Oulu,store
5,ORD000005,2024-04-26 09:39:00,mobile,SKU-0117,2,217.20,0.00,434.40,False,Tampere,phone

In [10]:
orders_data.reset_index(inplace=True, drop=True)
orders_data.head()

,OrderID,OrderDatetime,PaymentMethod,ProductSKU,Quantity,UnitPrice,Discount,TotalEUR,Returned,City,OrderChannel
0,ORD000001,2023-06-25 20:20:00,invoice,SKU-0126,2,95.86,0.00,191.72,True,Lahti,phone
1,ORD000002,2023-06-17 18:12:00,mobile,SKU-0156,1,90.00,0.10,81.00,False,Lahti,mobile
2,ORD000003,2023-07-03 15:49:00,bank,SKU-0108,1,238.28,0.10,214.45,False,Vantaa,phone
3,ORD000004,2023-09-15 06:40:00,card,SKU-0121,1,136.72,0.20,109.38,True,Oulu,store
4,ORD000005,2024-04-26 09:39:00,mobile,SKU-0117,2,217.20,0.00,434.40,False,Tampere,phone

In [11]:
orders_data.dtypes

OrderID          object
OrderDatetime    object
PaymentMethod    object
ProductSKU       object
Quantity         object
UnitPrice        object
Discount         object
TotalEUR         object
Returned         object
City             object
OrderChannel     object
dtype: object

In [12]:
orders_data = orders_data.astype(
    {
        "Quantity":"int",
        "UnitPrice" : 'float',
        "Discount" : 'float',
        "TotalEUR": 'float'
     }
)

In [13]:
orders_data.dtypes

OrderID           object
OrderDatetime     object
PaymentMethod     object
ProductSKU        object
Quantity           int64
UnitPrice        float64
Discount         float64
TotalEUR         float64
Returned          object
City              object
OrderChannel      object
dtype: object

In [15]:
orders_data['OrderDatetime'] = pd.to_datetime(
    orders_data['OrderDatetime'],
    format='%Y-%m-%d %H:%M:%S',
    errors='coerce'
)

orders_data.dtypes

OrderID                  object
OrderDatetime    datetime64[ns]
PaymentMethod            object
ProductSKU               object
Quantity                  int64
UnitPrice               float64
Discount                float64
TotalEUR                float64
Returned                 object
City                     object
OrderChannel             object
dtype: object

In [16]:
orders_data.head(2)

,OrderID,OrderDatetime,PaymentMethod,ProductSKU,Quantity,UnitPrice,Discount,TotalEUR,Returned,City,OrderChannel
0,ORD000001,2023-06-25 20:20:00,invoice,SKU-0126,2,95.86,0.0,191.72,True,Lahti,phone
1,ORD000002,2023-06-17 18:12:00,mobile,SKU-0156,1,90.00,0.1,81.00,False,Lahti,mobile

In [28]:
orders_data = orders_data[
    (orders_data["Returned"] == "False") & 
    (orders_data["OrderChannel"] == "store")
]

orders_data.head()

Empty DataFrame
Columns: [OrderID, OrderDatetime, PaymentMethod, ProductSKU, Quantity, UnitPrice, Discount, TotalEUR, Returned, City, OrderChannel]
Index: []

In [24]:
orders_data = orders_data.sort_values(
    ['city', 'TotalEUR'],
    accending=[True, False]
)

orders_data

TypeError: DataFrame.sort_values() got an unexpected keyword argument 'accending'. Did you mean 'ascending'?